body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #373b40;
  color: #fff;
  font-size: 14px;
}
* {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
i {
  color: #68e0cf;
}

section {
  position: relative;
  overflow: hidden;
  padding: 70px 30px;
  border-bottom: 1px solid #585d65;
}
 .main :last-child {
  border-bottom: none;
}
.firstp {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
#portolink a {
  z-index: 8;
  white-space: nowrap;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0.25);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  letter-spacing: 1px;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  margin: 0px;
  padding: 20px 35px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
  box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
}

.firstanim {
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.firstanim a {
  color: #68e0cf;
  font-size: 14px;
  text-transform: uppercase;
}
.background-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
}

.background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #68e0cf;
}

.background-filter .background-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  mix-blend-mode: luminosity;
}

.background-filter.gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0.5) 0%,
    #373b40 90%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0.5) 0%,
    #373b40 90%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.5) 0%,
    #373b40 90%
  );
}

.background-filter.gradient .background-img {
  -webkit-filter: none;
  filter: none;
  mix-blend-mode: unset;
}

.background-filter.circle {
  clip-path: circle(75% at 10% 45%);
  -webkit-clip-path: circle(75% at 10% 45%);
}

.background-filter.circle .background-img {
  -webkit-filter: none;
  filter: none;
  mix-blend-mode: unset;
}

.background-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 992px) {
  section {
    padding: 70px 0px;
  }
  .background-bg {
    position: relative;
    width: 100%;
    height: 70vh;
  }

  .background-filter.circle {
    clip-path: circle(100% at 50% 0%);
    -webkit-clip-path: circle(100% at 50% 0%);
  }
  .box-col ul {
    display: grid;
    grid-template-columns: auto auto;
  }
  .box-col ul li {
    margin: 20px;
  }
}

@media (max-width: 720px) {
  .box-col ul {
    display: grid;
    grid-template-columns: auto;
  }
  .box-col ul li {
    margin: 20px;
  }
}

.main {
  margin-left: 45%;
  margin-right: 100px;
  font-size: 28px;
  padding: 0px 10px;
}

.firstsec {
  padding-left: 0;
  padding-bottom: 0;
  margin-top: -130px;
  position: relative;
  overflow: visible;
  z-index: 11;
}

.firstcont {
  display: table;
  table-layout: fixed;
  padding-top: 200px;
  padding-bottom: 150px;
}
.firstcont #portolink {
  padding-left: 8%;
}
.firstsec .h-title {
  margin: 40px 0 0 -11vw;
  padding: 4.2vw;
  font-size: 4.2vw;
  line-height: 1.4;
  font-weight: 800;
  color: #fff;
  background-color: #373b40;
  word-break: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  border-radius: 264px;
  -moz-border-radius: 264px;
  -webkit-border-radius: 264px;
}

.firstp {
  font-size: 20px;
  line-height: 1.4;
  padding-left: 8%;
}

.secsection {
  padding-top: 10%;
}

.sech {
  margin: 0 0 10px;
  max-width: 70%;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  font-weight: 800;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.sech h1 {
  margin-bottom: 0;
}
.secp {
  font-size: 18px;
}
.mystory {
  color: #68e0cf;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}

.titles {
  margin: 0 0 60px;
}

.info-list ul {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  font-size: 17px;
}

.q {
  color: #68e0cf;
}
.a {
  padding-right: 20px;
  margin-bottom: 15px;
}

.thirdsection .titles {
  margin: 0 0 60px;
  position: relative;
}
.thirdsubt {
  color: #68e0cf;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}
.service-items {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
}
.serviceitem .icon {
  margin-bottom: 15px;
  font-size: 32px;
  height: 32px;
}

.serviceitem {
  margin-top: 50px;
}

.serviceitem .name {
  margin: 0 0 30px;
  font-size: 18px;
  font-weight: 800;
}
.name {
  margin: 0 0 30px;
  font-size: 18px;
  font-weight: 800;
}
.single-post-text p {
  line-height: 1.8;
  font-size: 16px;
}

.sech {
  margin: 0 0 10px;
  max-width: 70%;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
  font-weight: 800;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.four h1 {
  margin-bottom: 0;
}
.fourdes {
  color: #68e0cf;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.name {
  margin: 0;
}
.company {
  color: #68e0cf;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.cardone {
  text-align: center;
  width: 50%;
}

.cardone .cardname {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 18px;
}
.cardone .price {
  margin: 30px 0;
  font-size: 45px;
}
.featurelist li {
  list-style-type: none;
  margin: 10px 0;
  font-size: 16px;
  padding: 0;
}
.cardone a {
  font-size: 20px;
}

.pricing-item {
  height: 390px;
  width: 100%;
  position: relative;
  text-align: center;
}
.pricing-item .name {
  font-size: 22px;
}
.feature-list ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}
.feature-list ul li {
  margin: 10px 0;
  font-size: 15px;
}
.name h4 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 800;
}

.amount {
  margin: 30px 0;
}

.amount .dollar,
.amount .period {
  font-size: 14px;
}
.number .dollar {
  margin-right: 2%;
  top: -30px;
  position: relative;
}
.period {
  margin-left: -2%;
}
.number {
  font-size: 54px;
  font-weight: 800;
}
.btn {
  margin-left: 30px;
}
.titles .single-post-text p {
  width: 50%;
}

.title h1 {
  margin-bottom: 0;
}
.title h5 {
  color: #68e0cf;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}
.resurme-item .date {
  position: absolute;
  left: -8px;
  top: -22px;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
}
.vericaltext {
  position: absolute;
  left: -10px;
  top: 20px;
  display: inline-block;
  font-size: 11px;
  color: #68e0cf;
  font-weight: 600;
  text-transform: bottom left;
  transform: rotate(90deg);
}
.des-skills-percent ul {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  list-style: none;
  padding: 0;
}
.des-skills-percent ul li {
  margin: 10px;
}
.des-skills-percent ul li span {
  margin-bottom: 30px;
}
.fname {
  margin: 0 0 30px 30px;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
}

.single-post-text-two p {
  font-size: 14px;
  padding-left: 5%;
  font-weight: 500;
  line-height: 1.8;
}
.title h2 {
  font-size: 55px;
}
.title h5 {
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
.title {
  margin: 0 0 60px;
}

.fname {
  font-size: 18px;
  font-weight: 800;
}

.skills-percent ul {
  position: relative;
  padding: 40px 0px 0;
  display: grid;
  grid-template-columns: 35% 35% 35%;
  vertical-align: top;
  list-style-type: none;
}
.skills-percent ul li {
  margin: 5px;
}

.progress-bar {
  width: 100%;
  background-color: #585d65;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.progress-bar-fill {
  display: block;
  height: 1px;
  background-color: #68e0cf;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}

.titles h1 {
  margin-bottom: 0;
}
.titles h5 {
  color: #68e0cf;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}

.single-post-text-seven p {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 30px;
}
.title h1 {
  margin-bottom: 0;
}
.title span {
  color: #68e0cf;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}
.skills-percent .single-post-text p {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.text p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0;
}
.client-item {
  opacity: 0.6;
}
.item3 {
  margin-left: 20%;
}
.client-item a img {
  max-width: 150px;
}
.elevencontent .titles .title {
  margin-left: 20px;
}

.filters {
  margin-left: 20px;
}

.btn-group {
  display: inline-flex;
  vertical-align: top;
  margin-right: 4px;
  outline: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-family: "Poppins", sans-serif;
}
.btn-group :hover {
  color: #68e0cf;
}
.btn-group input {
  display: none;
}

.box-col {
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}
li {
  list-style: none;
}
.box-group .container {
  padding: 0;
}
.image a img {
  width: 100%;
}

.category {
  text-align: center;
  font-size: 12px;
  color: #68e0cf;
  font-weight: 600;
  text-transform: uppercase;
}
.desc a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
#portolink input,
#portolink textarea {
  z-index: 8;
  white-space: nowrap;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0.25);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  letter-spacing: 1px;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  margin: 0px;
  padding: 20px 35px;
  width: 50%;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}

#portolink1 {
  z-index: 8;
  white-space: nowrap;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0.25);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  letter-spacing: 1px;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: left;
  margin: 0px;
  padding: 20px 35px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}
textarea {
  resize: none;
  outline: none;
  width: 50%;
}
input {
  outline: none;
}

.review-item {
  text-align: center;
}

.contactcont {
  display: grid;
  grid-template-columns: 50% 50%;
}
.contact-info .infor-list {
  margin: 35px 0 50px;
}
.infor-list ul {
  margin: 0 -20px;
  list-style: none;
  padding: 0;
}

.infor-list ul li {
  margin: 0 0 25px;
  padding: 0 24px;
  list-style-type: none;
  vertical-align: top;
  font-size: 14px;
  font-weight: 600;
}

.contact-info .name {
  font-size: 24px;
  margin: 0 0 5px;
}
.contact-info .subname {
  font-size: 11px;
  color: #68e0cf;
}

.label {
  padding: 0 10px;
  position: relative;
  left: 35px;
  top: 6px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 2;
}
.label span {
  color: #68e0cf;
}
#portolink a {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 14px;
    margin: 20px 0;
  }
  .firsth .h-title {
    width: 60% !important;
    margin-top: -260px !important;
    font-size: 50px !important;
  }
  .firstcont {
    padding-bottom: 100px;
  }

  .info-list ul {
    grid-template-columns: auto;
  }

  .info-list ul li {
    margin: 6px 0;
  }

  .service-items {
    grid-template-columns: auto;
  }

  .des-skills-percent ul {
    grid-template-columns: auto;
  }

  .skills-percent ul {
    grid-template-columns: auto auto;
  }

  .review-item {
    text-align: center;
  }

  .btn-group {
    display: inline;
    margin-right: 0;
  }
  .contactcont {
    grid-template-columns: auto;
  }
  #portolink input,
  #portolink textarea {
    width: 75%;
    outline: none;
  }
  .twelvesection {
    border-bottom: none;
  }

}

.footer {
  padding: 0;
  position: fixed;
  bottom: 40px;
  right: 0;
  width: 92px;
  height: 1px;
  z-index: 99;
}

.footer:before {
  content: "";
  position: absolute;
  bottom: -50vh;
  left: 0;
  width: 1px;
  height: 200vh;
  background: #585d65;
}

.footer .socials {
  margin-left: -27px;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 54px;
}

.footer .socials a {
  position: relative;
  display: block;
  margin-bottom: 15px;
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: #373b40;
  border: 1px solid #585d65;
  border-radius: 54px;
  -moz-border-radius: 54px;
  -webkit-border-radius: 54px;
  -khtml-border-radius: 54px;
  transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
  -moz-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
  -o-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
}

.footer .socials a:last-child {
  margin-bottom: 0;
}

.footer .socials a:hover {
  color: #68e0cf;
}

@media (max-width: 992px) {
  .main {
    width: 90%;
    margin: auto;
  }
  .firsth .h-title {
    margin: 0 auto;
    margin-top: -370px;
    text-align: center;
    padding: 70px 35px 30px;
    width: 480px;
    text-align: center;
    font-size: 60px;
    -webkit-border-radius: 360px 360px 0 0;
  }
  .firstcont #portolink {
    padding-left: 0;
  }
  .firstcont {
    text-align: center;
  }
  .firstanim {
    margin-left: 0;
  }
  .firstp {
    padding-left: 0;
  }
  .footer {
    margin: 0 0 50px;
    padding: 0;
    position: relative;
    bottom: auto;
    height: auto;
    width: 100%;
  }

  .footer:before {
    top: 50%;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1px;
  }

  .footer .socials {
    margin-left: 0;
    position: relative;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
  }

  .footer .socials a {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 0;
    width: 54px;
  }

}
.icon {
  width: 24px;
  height: 24px;
}

input #email {
  width: 100%;
}

.progress {
  margin-top: 10px;
}
.skills.dotted .progress {
  height: 14px;
  background: 0 0 !important;
}

.skills.dotted .progress .percentage {
  position: relative;
  overflow: hidden;
  top: 0;
  height: 14px;
  background: 0 0 !important;
  z-index: 2;
}

.skills.dotted .progress .dg,
.skills.dotted .progress .da {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 14px;
}

.skills.dotted .progress .dg span,
.skills.dotted .progress .da span {
  display: block;
  width: 14px;
  height: 14px;
  background: #585d65;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -khtml-border-radius: 14px;
}

.skills.dotted .progress .da {
  top: 0;
}

.skills.dotted .progress .da span {
  background: #68e0cf;
}

.skills ul {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.skills ul li {
  position: relative;
  padding-bottom: 25px;
  display: inline-block;
  vertical-align: top;
  width: auto;
}

.skills .name {
  margin: 0 0 30px;
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 800;
}

.skills .single-post-text {
  margin-bottom: 30px;
}

.skills .progress {
  display: block;
  height: 2px;
  position: relative;
  width: 100%;
  background: #585d65;
}

.skills.dotted .progress .percentage {
  position: relative;
  overflow: hidden;
  top: 0;
  height: 14px;
  background: 0 0 !important;
  z-index: 2;
}

.skills.dotted .progress .dg,
.skills.dotted .progress .da {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 14px;
}

.skills.dotted .progress .dg span,
.skills.dotted .progress .da span {
  display: block;
  width: 14px;
  height: 14px;
  background: #585d65;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -khtml-border-radius: 14px;
}

.skills.dotted .progress .da {
  top: 0;
}

.skills.dotted .progress .da span {
  background: #68e0cf;
}
skills.dotted .progress .dg,
.skills.dotted .progress .da {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 14px;
}

.skills.dotted .progress .dg span,
.skills.dotted .progress .da span {
  display: block;
  width: 14px;
  height: 14px;
  background: #585d65;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -khtml-border-radius: 14px;
}

.single-post {
  font-size: 14px;
}

.da1 .pr,
.da1 .dr,
.da1 .tr,
.da1 .ce,
.da1 .pe,
.da1 .se,
.da1 .sed,
.da1 .os,
.da1 .dev {
  background: #68e0cf !important;
}

.da2 .pr,
.da2 .dr,
.da2 .tr,
.da2 .ce,
.da2 .pe,
.da2 .se,
.da2 .sed {
  background: #68e0cf !important;
}

.da3 .pr,
.da3 .dr,
.da3 .tr,
.da3 .ce,
.da3 .pe,
.da3 .se {
  background: #68e0cf !important;
}

.da4 .pr,
.da4 .dr,
.da4 .tr,
.da4 .ce,
.da4 .pe,
.da4 .se,
.da4 .sed,
.da4 .os {
  background: #68e0cf !important;
}

.progress--bar {
  height: 1.5rem;
  margin: 1rem;
  background-color: #ddd;
}
.progress--bar:after {
  content: "";
  display: block;
  height: 100%;
  background-color: #68e0cf;
}

.progress--circle {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ddd;
}
.progress--circle:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #373b40;
}
.progress--circle:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #68e0cf;
}

.progress__number {
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  margin-top: -10px;
  text-align: center;
  font-size: 20px;
  color: #777;
}

.progress--pie:before {
  display: none;
}
.progress--pie .progress__number {
  color: #373b40;
  text-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}

.progress--bar.progress--0:after {
  width: 0%;
}

.progress--circle.progress--0:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(90deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--5:after {
  width: 5%;
}

.progress--circle.progress--5:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(108deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--10:after {
  width: 10%;
}

.progress--circle.progress--10:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(126deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--15:after {
  width: 15%;
}

.progress--circle.progress--15:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(144deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--20:after {
  width: 20%;
}

.progress--circle.progress--20:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(162deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--25:after {
  width: 25%;
}

.progress--circle.progress--25:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(180deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--30:after {
  width: 30%;
}

.progress--circle.progress--30:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(198deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--35:after {
  width: 35%;
}

.progress--circle.progress--35:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(216deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--40:after {
  width: 40%;
}

.progress--circle.progress--40:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(234deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--45:after {
  width: 45%;
}

.progress--circle.progress--45:after {
  background-image: linear-gradient(
      90deg,
      #373b40 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(252deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--50:after {
  width: 50%;
}

.progress--circle.progress--50:after {
  background-image: linear-gradient(
      -90deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--55:after {
  width: 55%;
}

.progress--circle.progress--55:after {
  background-image: linear-gradient(
      -72deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--60:after {
  width: 60%;
}

.progress--circle.progress--60:after {
  background-image: linear-gradient(
      -54deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--65:after {
  width: 65%;
}

.progress--circle.progress--65:after {
  background-image: linear-gradient(
      -36deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--70:after {
  width: 70%;
}

.progress--circle.progress--70:after {
  background-image: linear-gradient(
      -18deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--75:after {
  width: 75%;
}

.progress--circle.progress--75:after {
  background-image: linear-gradient(
      0deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--80:after {
  width: 80%;
}

.progress--circle.progress--80:after {
  background-image: linear-gradient(
      18deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--85:after {
  width: 85%;
}

.progress--circle.progress--85:after {
  background-image: linear-gradient(
      36deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--90:after {
  width: 90%;
}

.progress--circle.progress--90:after {
  background-image: linear-gradient(
      54deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--95:after {
  width: 95%;
}

.progress--circle.progress--95:after {
  background-image: linear-gradient(
      72deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}

.progress--bar.progress--100:after {
  width: 100%;
}

.progress--circle.progress--100:after {
  background-image: linear-gradient(
      90deg,
      #68e0cf 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #68e0cf 50%, #373b40 50%, #373b40);
}
  
.perc1 span {
  position: absolute;
  top: 33%;
  right: 57%;
  font-size: 14px;
  font-weight: 500;
  color: #68e0cf;
}
.perc2 span {
  position: absolute;
  top: 33%;
  right: 16%;
  font-size: 14px;
  font-weight: 500;
  color: #68e0cf;
}

  .perc3 span {
    position: absolute;
    top: 83%;
    right: 55%;
    font-size: 14px;
    font-weight: 500;
    color: #68e0cf;
  }

.perc4 span {
  position: absolute;
  font-size: 14px;
  top: 83%;
  right: 8%;
  font-weight: 500;
  color: #68e0cf;
}

@media screen and (max-width: 600px) {
  .perc1 span {
    right: 12% !important;
  }
  .perc2 span {
    right: 31% !important;
    top: 41%;
  }
  .perc3 span {
    right: 8% !important;
    top: 66%;
  }
  .perc4 span {
    right: 17% !important;
    top: 91%;
  }
}  


.topnav {
  padding: 0 0 0 10px;
  position: fixed;
  left: 50px;
  right: 50px;
  top: 40px;
  height: 80px;
  z-index: 100;
  background-color: #585d65;
  border-radius: 80px;
}

.logo_wrapper {
  position: relative;
  float: left;
  width: 120px;
  height: 80px;
  display: flex;
  font-size: 0;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
  align-items: center;
}

.logo_wrapper .logo-img {
  width: auto;
  height: auto;
  max-width: 36px;
  display: inline-block;
}

.logo_wrapper .logo-img .logo-ink {
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}

.topnav #portolink a{
  margin-top: 10px;
  margin-right: 10px;
  color: #68e0cf;
  border-color: #68e0cf;
  font-size: 12px;
}

.top-menu {
  margin: 0;
  padding: 0;
  height: 80px;
  display: flex;
  align-items: center;
  float: right;
}


.logo_wrapper .scroll-to {
  float: left;
}

.topnav a {
  position: relative;
  float: right;
  display: block;
  font-weight: 800;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}



.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {

  color: white;
}

.dropdown-content a:active {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 906px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 906px) {
  .topnav {
    padding: 0 0 0 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 0;
  }
  .topnav.responsive {
    position: fixed;
    background-color: #585d65;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    background-color: #585d65;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .top-menu {
    display: block;
    width: 100%;
    text-align: center;
  }

  .topnav #portolink {
    display: none;
  }
}


.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #373b40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 100px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}
